{
  "projects": {
    "default": "seu-projeto-firebase"
  },
  "targets": {
    "seu-projeto-firebase": {
      "hosting": {
        "prod": [
          "seu-site-producao"
        ],
        "dev": [
          "seu-site-desenvolvimento"
        ]
      }
    }
  }
}
